// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

// Helpers
@import "./helpers/variables.scss";

// Components
@import './components/Appnavbar.scss';
@import "./components/HomeCarousel.scss";
@import "./components/CarouselItem.scss";
@import "./components/HomeIntroSection.scss";
@import "./components/ScrollNavbar.scss";

// Reset some elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 5000px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
}

// React router dom 
.active-link {
  color: $mainColor !important;
}